<!DOCTYPE html> {% load static %}
<!--load staticfiles, load static from staticfiles, load admin_static -->
<!---- Deprecated in 2.1 and Removed in 3.0 -->

<html lang="eng">
  <head>
    <title>Rango</title>
  </head>
  <body>
    <h1>Rango says...</h1>
    <div>
      hey there partner! <br />
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      <a href="/rango/about/">About</a><br />
      <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>
  </body>
</html>
